.main__grid {
  display: grid;
  grid-template-columns:300px repeat(1, 1fr);
  grid-template-rows: fit-content(10px);
  column-gap: 30px;
  align-items: start;
  margin: 0px 40px 50px;
}

.main {
  margin: 0px 40px 50px;
}

body {
  background: rgb(248, 244, 244);
}


.section {
  grid-column: 2/4;
}
.aside {
  font-family: 'Times New Roman', Times, serif;
  grid-column: 1/1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  background-color: rgb(248, 244, 244);
  border: 1px solid rgb(200, 184, 184);
  border-radius: 20px;
}

.categories__title,
.brands__title {
  text-align: center;
  font-size: 16px;
  padding: 20px 0px;
}

.brands__list--item,
.categories__list--item {
  padding-bottom: 20px;
  transition: all .1s ease-in-out;
}
.brands__list--link,
.categories__list--link {
  font-size: 16px;
  color: rgb(44, 54, 54);
}
.brands__list--item:hover,
.categories__list--item:hover {
 transform: scale(1.1);
}
.current::before {
  display: block;
  content: "";
  bottom: -2px;
  background-color: #feb386;
  height: 4px;
  width: 0%;
  left: 50%;
  width: 100%;
  position: absolute;
  transition: width .5s ease-in-out;
  transform: translateX(-50%);
}

.hidden {
  position: absolute;
  top: 30px;
  visibility: hidden;
  opacity: 0;
  transition: opacity .9s ease-in-out;
}

.topSeller__slider {
  padding: 30px;
  position: relative;
}

.topSeller__wrapper {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.topSeller__title {
  text-align: center;
}

.topSeller__slider--wrapper {
  transition: all .9s ease-in-out;
  display: grid;
  grid-template-columns: repeat(5, 200px);
  grid-template-rows: repeat(1, 390px);
  column-gap: 60px;
}

.topSeller__controls {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  border: none;
  cursor: pointer;
  background-color: transparent;
  transition: all .2s ease-in-out;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.topSeller__controls:hover {
  background-color: #feb386;
  transform: scale(1.1);
}

.topSeller__controls--arrow {
  position: relative;
  left: 2px;
  fill: rgb(10, 117, 42);
  max-width: 50%;
  max-height: 50%;
}

.arrow-left {
  transform: rotate(180deg);
  left: -2px;
}



.footer {
  height: 300px;
  background-color: black;
}