<!DOCTYPE html>
<html lang="ua">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hair</title>
  <link href="https://fonts.googleapis.com/css2?family=Caramel&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@400;600;700&family=Inter:wght@400;700;800&family=Roboto+Condensed&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/normalize.css">
  <link rel="stylesheet" href="../css/main.css">
</head>

<body>
  <header class="header">
    <div class="header__top">
        <div class="container">
            <div class="header__top--position">
                <div class="header__logo">
                    <a href="../index.html" class="header__logo--link"><em>Etude Beauty Boutique</em></a>
                </div>
                <div class="header__search">
                    <button class="header__button">
                        <svg class="header__button--img" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24"><path d="M23.111 20.058l-4.977-4.977c.965-1.52 1.523-3.322 1.523-5.251 0-5.42-4.409-9.83-9.829-9.83-5.42 0-9.828 4.41-9.828 9.83s4.408 9.83 9.829 9.83c1.834 0 3.552-.505 5.022-1.383l5.021 5.021c2.144 2.141 5.384-1.096 3.239-3.24zm-20.064-10.228c0-3.739 3.043-6.782 6.782-6.782s6.782 3.042 6.782 6.782-3.043 6.782-6.782 6.782-6.782-3.043-6.782-6.782zm2.01-1.764c1.984-4.599 8.664-4.066 9.922.749-2.534-2.974-6.993-3.294-9.922-.749z"/></svg>
                    </button>
                    <input type="text" placeholder="Пошук по сайту" class="header__input">
                    <ul class="header__list">
                        <li class="header__list--item"><a href="#" class="header__list--link">Реєстрація</a></li>
                        <li class="header__list--item"><a href="#" class="header__list--link">Вхід</a></li>
                        <li class="header__list--item"><a href="/components/basket.html" class="header__list--link">Кошик</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <nav class="header__nav">
      <ul class="header__nav--list">
        <li class="header__nav--item"><a href="../index.html" class="header__nav--link">Головна</a></li>
        <li class="header__nav--item"><a href="../components/articleHair.html" class="header__nav--link current">Догляд за волоссям</a></li>
        <li class="header__nav--item"><a href="../components/artickleFace.html" class="header__nav--link">Догляд за обличчям</a></li>
        <li class="header__nav--item"><a href="../components/artickleNails.html" class="header__nav--link">Манікюр</a></li>
        <li class="header__nav--item"><a href="../components/artickleParfume.html" class="header__nav--link">Парфуми</a></li>
        <li class="header__nav--item"><a href="../components/artickleVitamine.html" class="header__nav--link">Вітаміни</a></li>
    </ul>
    </nav>
   </header>
  <main class="main__grid">
      <aside class="aside">
      <section class="categories">
    <h5 class="categories__title">КАТЕГОРІЇ</h5>
    <ul class="categories__list">
      <li class="categories__list--item"> <a href="#" class="categories__list--link"> Category 1 </a></li>
      <li class="categories__list--item"> <a href="#" class="categories__list--link"> Category 2 </a></li>
      <li class="categories__list--item"> <a href="#" class="categories__list--link"> Category 3 </a></li>
      <li class="categories__list--item"> <a href="#" class="categories__list--link"> Category 4 </a></li>
      <li class="categories__list--item"> <a href="#" class="categories__list--link"> Category 5 </a></li>
      <li class="categories__list--item"> <a href="#" class="categories__list--link"> Category 6 </a></li>
      <li class="categories__list--item"> <a href="#" class="categories__list--link"> Category 7 </a></li>
      <li class="categories__list--item"> <a href="#" class="categories__list--link"> Category 8 </a></li>
    </ul>
</section>
<section class="brands">
    <h5 class="brands__title">БРЕНДИ</h5>
    <ul class="brands__list">
      <li class="brands__list--item"> <a href="#" class="brands__list--link"> brends 1 </a></li>
      <li class="brands__list--item"> <a href="#" class="brands__list--link"> brends 2 </a></li>
      <li class="brands__list--item"> <a href="#" class="brands__list--link"> brends 3 </a></li>
      <li class="brands__list--item"> <a href="#" class="brands__list--link"> brends 4 </a></li>
      <li class="brands__list--item"> <a href="#" class="brands__list--link"> brends 5 </a></li>
      <li class="brands__list--item"> <a href="#" class="brands__list--link"> brends 6 </a></li>
      <li class="brands__list--item"> <a href="#" class="brands__list--link"> brends 7 </a></li>
    </ul>
</section>
  
    </aside>
    <section class="section">
      <div class="container">
        <h2></h2>
        <div class="grid" id="products">
          
        </div>
        <div class="section__card--button-position">
          <button class="section__card--button-more" data-more>Show more</button>
        </div>
       
      </div>
    </section>
  
   </main>
  <footer class="footer">
  
  </footer>
  <script src="../js/goods.json"></script>
  <script src="../js/products.js"></script>
  <script src="../js/script.js"></script>
</body>

</html>