<!DOCTYPE html>
<html lang="ua">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/cart.css">

    <title>Cart goods</title>
</head>

<body>

    <div class="wrapper">

        <div class="card-goods">

            <img src="/img/Samp_Mild_Nature.jfif" alt="" class="card-img">
<hr>
            <div class="card-title"> Mild By Nature </div>
            <div class="card-sub">Шампунь для густоти волосся, з комплексом вітамінів групи B та біотином, розмарин та
                м’ята, 473 мл</div>
            <div class="price-value">
                &#8372; 55.00
                <span class="curency">грн.</span>
            </div>


            <div class="price-old"></div>

            <div class="btn-keeper">
                <a class="btn-buy" href="#">Купити</a>
            </div>

        </div>

    </div>

</body>

</html>